body {
   color: #fff;
   font-family: "Consolas", monospace;
   font-size: 2em;
}

.container {

   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   /*background-color: #323339;*/
   background-color: #0f0f0f;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23303030' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   display: flex;
   justify-content: center;
   align-items: center;
   animation: bgmove 70s linear infinite;
}

table {
   border-spacing: 5px;
   border-collapse: separate;
   padding: 10px;
   background-color: #181818;
   box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 0.45);
}

.board_cell {
   width: 75px;
   height: 75px;
   border: 3px solid #2b2b2b;
   background-color: #222222;
   transition: .25s;
   justify-content: center;
   align-items: center;
}

.board_cell.promoted {
   background-color: #2a2632;
}

.board_cell.promoted * {
   filter: hue-rotate(-45deg);
}


tr:nth-of-type(even) .board_cell:nth-of-type(odd),
tr:nth-of-type(odd) .board_cell:nth-of-type(even) {
   border: 3px solid #999;
   background-color: #777;
   opacity: .7;
}

tr:nth-of-type(odd) .board_cell:nth-of-type(odd):hover,
tr:nth-of-type(even) .board_cell:nth-of-type(even):hover {
   border: 3px solid rgb(161, 147, 78);
   background-color: #3d3b33;
   cursor: pointer;
}

.piece {
   width: 40px;
   height: 7px;
   margin: 3px auto;
}

.piece.USR {
   border: 3px solid rgb(229, 241, 64);
   background-color:rgba(212, 223, 63, 0.7);
   /*box-shadow: 0 0 20px 5px rgba(241, 229, 64, .5);*/
}
.piece.CPU {
   border: 3px solid rgb(223, 78, 34);
   background-color: rgba(223, 62, 34, 0.7);
   /*box-shadow: 0 0 20px 5px rgba(223, 78, 34, .7);*/
}


/* /////////////////////////////////////////////////////////////////////////////// */

.alert {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   backdrop-filter: blur(5px);
   background-color: rgba(30, 30, 30, .65);
   z-index: 100;
}

.alert #message {
   padding: 1em;
   width: 50%;
   background-color: rgb(48, 48, 55);
}

.hidden {
   opacity: 0;
   visibility: hidden;
}

@keyframes bgmove {
   from { background-position: 0 0; }
   to   { background-position: 100vw 100vh; }
}
